.animationfade {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

.cards-home {
    width: 300px;
    height: 300px;
}

.box-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
}