.imagemHome {
    background-image: url(https://live.staticflickr.com/65535/52649412230_4c600f1164_k.jpg);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.TituloHome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;

}

.SubTituloHome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}


.animationfade {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0%);
    }

    100% {
        opacity: 1;
        transform: scale(100%);
    }
}

.tag {
    background-color: rgb(0, 0, 0);
}

.tag {
    opacity: 1;
    transform: translate(0, 10vh);
    transition: all 1s;
}


.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: lightgreen;
}


.fundo {
    background-color: rgba(255, 255, 255, 0.877);
    width: 40%;
    height: 29%;
    padding: 10px;
}

.imageCarousel {
    align-items: center;
    width: 30px;
    height: 30px;
}

.cards-home {
    width: 300px;
    height: 300px;
}

.box-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
}