.bgCheck {
    background-image: url(../../assets/images/yog.jpg);
    background-size: cover;
    background-position: center;
}

.check {
    background-image: url(../../assets//images/checkk.jpg);
    background-size: cover;
    background-position: center;
}