.bgProduct {
    background-image: url(../../assets/images/checkk.jpg);
    background-size: cover;
    background-position: center;
}

.buttonProduct {
    --color: #0DCA70;
    font-family: inherit;
    display: inline-block;
    align-items: stretch;
    width: 10em;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--color);
}

.buttonProduct:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 100%;
}

.buttonProduct:hover {
    color: #fff;
}

.buttonProduct:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.buttonProduct:hover:before {
    top: -30px;
    left: -30px;
}

.buttonProduct:active:before {
    background: #0DCA70;
    transition: background 0s;
}