.footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
  }
  .LinkFooter {
    display: flex;
    align-items: center;
    color:#FFF;
    
  }
  .link {
    color: #FFF;
  }
  .link:hover {
     color: #00F
  }